#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules file for sitplus
# Author: Luis Rivas Vañó <luinix@gmail.com>
# License: GPL-3.0+

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_RPATH=/usr/lib/sitplus -DCMAKE_EXE_LINKER_FLAGS=-lboost_system

override_dh_auto_install:
	dh_auto_install
	rm -f ${CURDIR}/debian/tmp/usr/share/sitplus/graphics/pictures/License.txt

%:
	dh $@ 

